body{
background-color:beige;
max-height: 100vh;
margin: 0;
max-width: 100%;

}

.frist{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}

.output{
    display:flex ;
    justify-content: center;
}


#answer{
    width: 900px;
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.inputs{
    margin: 20px;
    display:flex ;
    justify-content: center;
    align-items: center;
    
   
}

.input1{
    width: 420px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
}

.input2{
    width: 420px;
    padding: 5px;
    font-size: 15px;
}



.operation{
    margin-top: 20px;
    align-items: center;
    
}

.add{
    display: block;
    width: 85%;
    padding: 7px;
    margin: 15px ;
    margin-left: 80px;
    font-size: 20px;
    
}

#reset{
    width: 85%;
    margin: 10px 80px ;
    padding: 7px;
    font-size: 20px;
}